@media only screen and (max-width: 800px)
{
	#nav2
	{
		position: absolute;
		top: 64px;
		height: auto !important;
		background-color: #202020;
		width: 100% !important;
		border-bottom: 1px solid #00FF00;
		visibility: hidden;
	}

	#menu_desktop
	{
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column !important;
		padding: 10px;
	}

	#menu_desktop span
	{
		margin-bottom: 10px;
	}

}

@media only screen and (min-width: 801px)
{
	#navbar > h1
	{
		visibility: hidden;
	}
}

body
{
	height: 100%;
	widows: 100%;
	margin: 0px;
	background-color: #101010;
	font-family: "Monospace";
	color: #00FF00;
}

a
{
	text-decoration: none;
	color: inherit;
	transition: color 0.2s ease-in 0s;
}

a:hover
{
	color: #FF00FF;
	transition: color 0.2s ease-in 0s;
}

.std_flex
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#navbar_container
{
	position: fixed;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #202020;
	border-bottom: 1px solid #00FF00;
	animation-name: menu_pop;
	animation-duration: 1s;
}

@keyframes menu_pop
{
	from {height: 0px;}
	to {height: 64px;}
}

#navbar
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 100%;
}

#nav1
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	flex-grow: 1;
	animation-name: rainbow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes rainbow
{
	from {color: #00FF00;}
	to {color: #FF00FF;}
}

#nav2
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-grow: 3;
}


#menu_desktop
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

#main_container
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 64px;
}

/*#main_container > section:nth-child(1)
{

	z-index: 10000;
	position: sticky;
	top: 64px;
}*/

.slider
{
	background-color: #202020;
	border-radius: 2px;
	border-bottom: 1px solid #00FF00;
}

.slider > p
{
	margin-left: 20px;
	text-decoration: underline;
}

#main_container section:nth-child(n+2)
{
	margin-bottom: 50px;
}

#main_container > section:nth-child(n+2)
{
	width: 100%;
	overflow: auto;
	background-color: #202020;
}

.slider table
{
	width: 100%;
	border-bottom: 1px solid #00FF00;
	border-radius: 2px;
	padding: 20px;
	overflow: auto;
}

figcaption
{
	font-weight: normal;
}

h1
{
	font-weight: normal;
}

#menu_desktop a
{
	font-size: 20px;
}

.slider td
{
	text-align: center;
}

.slider td:hover
{
	background-color: #191919;
}

/*entry stuff*/

#entry_container
{
	visibility: hidden;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

#entry_main
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	padding: 5px;
}

#entry_poster
{
	width: 500px;
	height: auto;
	object-fit: cover;
	margin: 10px;
}

#entry_content
{
	margin: 10px;
}

.visible
{
	visibility: visible !important;
}

.slider > a
{
	display: inline-block;
	line-height: 50px;
	width: 100%;
	text-align: center;
}

#entry_table
{
	overflow: auto;
}